<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>Liste des patients</h1>
<table>
    <thead>
    <tr>
        <th>Fiche</th>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Genre</th>
        <th>Adresse</th>
        <th>Téléphone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td>
            <a class="link-btn" th:href="@{/patients/{id}(id=${patient.id})}">
                Voir ↗
            </a>
        </td>
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.dateOfBirth}"></td>
        <td>
            <span th:class="|badge badge-${patient.gender}|"
                  th:text="${patient.gender}"></span>
        </td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phoneNumber}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>